


<div class="container">
	<div class="row">

		<div class="topics">
			<div class="col-sm-3 sub2">
		<%= link_to new_con_path do %>
                <button type="button" class="square_btn1">下請けを募集する</button>
            <% end %>
            <%= link_to new_con_path do %>
                <button type="button" class="square_btn1">元請けを募集する</button>
            <% end %>
</div>

<div class="col-sm-offset-4">
			<div class="topicform">
		<% @cons.each do |con| %>

						<div class="topics1">
							<div class="posttitle"><%= link_to con.title ,con_path(con.id) %>
							</div>


							<p class="mitumori">＿</p>
							<div class="taiou ">	<p>対応工事</p> <%= con.job %>
<p>現場住所</p><%= con.address %></div>
<%= link_to con_path(con.id) do %>
                <button type="button" class="square_btn3">詳細をみる</button>
            <% end %>




						</div>

					<% end %>
					</div>
					</div>
					</div></div></div>